<h2>Welcome to Vacationer</h2>
<p>

<form><label for="destination">Destination</label><br> <input name="destination" type="text" value="Greece"> <br> <label for="budget">Budget</label><br> <input name="budget" type="text" value="$3000"> <br> <label for="fromDate">From</label><br> <input name="fromDate" type="date" value="05/06/2018"> <br> <label for="toDate">To</label><br> <input name="toDate" type="date" value="05/16/2018"> <br> <br> <button type="submit" value="Submit">Submit</button></form>
</p>

